coreapi
coverage
cryptography
dj-static
cffi
ruamel.yaml
django-cors-headers
django-extensions
django-mysql
django-oauth-toolkit
Django
djangorestframework-jsonapi
djangorestframework
drf-writable-nested
firebase-admin
gunicorn
inflection
mysqlclient
oauthlib
pip-tools
python-dateutil
pyyaml
requests
stringcase
